<section>
  <mat-toolbar>
    <span>Atlas Gym</span>
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="border: 1px solid red">1</mat-grid-tile>
    <mat-grid-tile style="border: 1px solid red"
      ><div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div></mat-grid-tile
    >
  </mat-grid-list>
</section>
